@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.dashboard-sidebar{
  width: 100%;
  max-width: 100%;
  transition: width 0.3s ease, padding 0.3 ease;
}


@media (min-width:1024px){
  .dashboard-sidebar{
    width: 25%;
    position: sticky;
    top: 0;
  }
}

.dashboard-main{
  padding: 1.5rem;
  background-color: #f8fafc;
}

.search-input:focus{
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
}
.profile-img{
  transform: scale(1.1);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

