.container{
    display: flex;
    flex-direction: column;
    color: white;
    border:2px solid white;
}
table{
    border:2px solid white;
}
table td{
    border:2px solid white;
}
table tr{
border:2px solid white;
    margin: 0px;
}
